nav{
    position:sticky;
    z-index: 10;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0.7rem;
    background-color: var(--pico-card-background-color);
    padding-left: 12px;
    padding-right: 12px;
}

.no-outline{
    outline: none;
    border: none;
    font-size: 2rem;
}