
circle{
  fill: transparent;
}

svg {
  transform: rotate(-90deg);
  background: transparent;
  border-radius: 50%;
}

div.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
}

@media (min-width: 500px) {
  div.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

  }

  div.grid svg {
    justify-self: right;
    align-self: center;
  }

 
  span{
    margin-bottom: 0;
    color: green;
    font-size: 1.5rem;
    justify-self: left;
    align-self: center;
  }
  
}


.caption{
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-content: space-around;
  justify-content: end;
}

span{
  margin-bottom: 0;
  font-size: 1.5rem;
}


.color-indicator{
  display: inline-block;
  justify-self: right;
  align-self: center;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
